:root {
    --background-color: #2b305e;
    --title-color: #ffffff;
    --insta-color: #cc2366;
    --linkedin-color: #2867b2;
    --portfolio-color: #4ac464;
    --mail-color: #e6ce46;
    scrollbar-width: thin;
}

dfn {
    font-style: normal;
    font-weight: bold;
}

#header {
    font-size: 30px;
}

.navbar {
    background-color: var(--background-color);
    box-shadow: 0px 13px 9px -7px rgba(0,0,0,0.75);
    transition: 0.2s;
}

.nav-link  span{
    color: var(--title-color);
}

#nav-insta:hover span{
    color: var(--insta-color);
}

#nav-linkedin:hover span{
    color: var(--linkedin-color);
}

#nav-portfolio:hover span{
    color: var(--portfolio-color);
}

#nav-mail:hover span{
    color: var(--mail-color);
}

#main {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-items: center;
    font-size: 30px;
}

.col-xl {
    animation-duration: 2s;
}

.d-flex {
    text-align: center;
    justify-content: center;
    align-content: center;
}

i {
    font-size: 5vh;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 400px;
    min-height: 400px;
}

#bg-1 {background-image: url("/assets/img/code.jpg");}
#bg-2 {background-image: url("/assets/img/camera.jpg");}
#bg-3 {background-image: url("/assets/img/computer.jpg");}

.contact {
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    animation: pulse;
    animation-duration: 0.5s;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    color: white;
    font-weight: bold;
}

.footer button {
    background-color: var(--background-color);
    font-weight: bold;
    color: var(--title-color);
    border: none;
}

@media (min-width: 1200px) {
    .nav-link:hover {
        animation: swing;
        animation-duration: 0.5s;
    }
}